<div class="container">
    <div style="background-image: linear-gradient(to right,#7F7FD5,#86A8E7,#91EAE4);border-radius:450px 450px 1000px 1000px;" class="jumbotron">

    <form method = "POST">

        <div class="input-container row">
            <div class="col-lg-12 input_container">
                <input  style="border-radius:100px 100px 100px 100px;font-family: 'Charm', cursive;padding-left:21px;top: 2px;" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" name="query">
            <i class="fa fa-search" id="id" aria-hidden="true"></i>
            </div>
        </div>


        <div style="margin-top:20px; "class="row">
            <div class="col-sm-4">
            <input style="border-radius:15px; margin-left: 50px;color:#5B87FF;background-color:white;" id="loginbutton" class="btn btn-info" type=submit name="b" value="Button 1">
            </div>

            <div class="col-sm-4">
            <input style="border-radius:15px; margin-left: 50px;color:#5B87FF;background-color:white;" id="loginbutton" class="btn btn-info" type=submit name="b" value="Button 2">
            </div>

            <div class="col-sm-4">
            <input style="border-radius:15px; margin-left: 50px;color:#5B87FF;background-color:white;" id="loginbutton" class="btn btn-info" type=submit name="b" value="Button 3">
            </div>

        </div>

    </form>
    </div>
</div>